{% load_yaml as os_defaults %}
FreeBSD:
  root_group: wheel
default:
  root_group: root
{% endload %}
{% set os_defaults = salt['grains.filter_by'](os_defaults) %}

{% load_yaml as nsswitch %}
FreeBSD:
  group: compat
  group_compat: nis
  hosts: files dns
  networks: files
  passwd: compat
  passwd_compat: nis
  shells: files
  services: compat
  services_compat: nis
  protocols: files
  rpc: files
Debian:
  passwd:         compat
  group:          compat
  shadow:         compat
  hosts:          files mdns4_minimal [NOTFOUND=return] dns mdns4
  networks:       files
  protocols:      db files
  services:       db files
  ethers:         db files
  rpc:            db files
  netgroup:       nis
{% endload %}

{% set nsswitch = salt['grains.filter_by'](nsswitch, merge=salt['pillar.get']('nsswitch:lookup')) %}
